/*  import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700");
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
input{
    border: 1px solid #00000021;
    width: 100%;
    border-radius: 5px;
    padding: 5px;
}
body{
    overflow: hidden;
    background: #dfe9f5;
}
.containerr{
    display: flex;
}
nav{
    position: relative;
    top: 0;
    bottom: 0;
    height: 100vh;
    left: 0;
    background: seashell;
    width: 280px;
    overflow: hidden;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.logo{
    text-align: center;
    display: flex;
}
.logo img{
    width: 65px;
    height: 45px;
    border-radius: 50%;
}
.logo span{
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
    text-transform: uppercase;
}
a{
    position: relative;
    color: rgb(85, 83, 83);
    font-size: 14px;
    display: table;
    width: 280px;
    padding: 10px;
}
nav .fas{
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
}
.nav-item{
    position: relative;
    top: 12px;
    margin-left: 10px;
}
.current ,a:hover{
    background: #eee;
}
.logout{
    background-color: #e9ddc7c4;
    position: fixed;
    bottom: 0;
}

/* Main Section */
.main{
    background-color: antiquewhite;
    position: relative;
    padding: 20px;
    width: 100%;
}
/* Courses */
.main-course{
    margin-top:20px ;
    text-transform: capitalize;
}
.course-box{
    width: 100%;
    height: 80vh;
    padding: 10px 10px 30px 10px;
    margin-top: 10px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
    overflow: auto;
}
.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {

    background-repeat: repeat-x;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}
thead{
    background-image: url(/G5_SMARTBEAUTY/img/patten-bg.png);
    background-color: #d09a75;
    position: sticky;
    top: 0px;

}
.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.required:after {
    content:" *";
    color: red;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #d09a75;
    ;
}
.create-new:hover{
    background: none;
}
.html{
    color: rgb(25, 94, 54);
}
.css{
    color: rgb(104, 179, 35);
}
.js{
    color: rgb(28, 98, 179);
}
.table-center{
    text-align-last: center;
    vertical-align: middle;
}
.content-table th{
    cursor: pointer;
    user-select: none;
}
.content-table .sorted-asc::after{
    margin-left: 5px;
    content: "\25b4";
}
.content-table .sorted-desc::after{
    margin-left: 5px;
    content: "\25be";
}
.open-modal-btn {
    display: flex;
    align-items: center;
    outline: none;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 0 5px #aba4a4;
    background-color: #ffffff8a;
    transition: 0.25s;
}

.open-modal-btn:hover {
    color: #d09a75;
    background-color: white;
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
}

.hide {
    display: none;
}

.modal__inner {
    width: 450px;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    animation: showModal linear 0.2s;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}



@keyframes showModal {
    from {
        top: -200px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

.content-table th{
    cursor: pointer;
    user-select: none;
}
.content-table .asc::after{
    margin-left: 5px;
    content: "\25b4";
}
.content-table .desc::after{
    margin-left: 5px;
    content: "\25be";
}

.modal__header {
    background-color: var(--pink-color);
    color: #bc1f1f;
    ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    font-size: 17px;
}

.modal__body	{
    padding: 15px;
}

.modal__body h2 {
    color: var(--pink-color);
    margin-bottom: 10px;
}

.modal__footer {
    padding: 15px;
    text-align: right;
}

.modal__footer button {
    outline: none;
    border: none;
    padding: 10px 20px;
    background-color: var(--pink-color);
    color: #bc1f1f;
    ;
    border-radius: 6px;
    cursor: pointer;
}

/*pagination css*/
.bottom-field{
    display: flex;
    flex-direction: row-reverse;
}
.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination li{
    list-style: none;
    padding: 2px;
    margin: 10px;
    flex-shrink: 0;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #999;
    color: #999;
    min-width: 29px;
    max-height: 27px;
}
.pagination li.active{
    background: #32d6aa;
    color: white;
    border-color: #32d6aa;

}
.pagination li a{
    text-decoration: none;
    padding: 3px 8px;
    color: inherit;
    display: block;
    font-family: sans-serif;
    font-size: 13px;
    width: fit-content;
}
