ul{
    list-style:none;
}
body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: Roboto;
}
.container, .row{
    
}
.navbar{
    background-image: url(/G5_SMARTBEAUTY/img/patten-bg.png);
    background-color: #d09a75;
}
.flex-row{
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1080px;
    justify-content: space-between;
    align-items: center;
}
.empty-a{
    text-decoration: none;
    color:rgba(255,255,255,0.8);
    font-weight: normal;
    margin-left: .25em;
    margin-right: .25em;
    transition: 0.3s;
}
.empty-a:hover{
    color:white;
}
.flex-left{
    margin-right: auto;
    flex: 1 1 0;
}
.flex-center{
    margin: 0 auto;
}
.flex-right{
    margin-left: auto;
    order: 3;
    flex: 1 1 0;
}
textarea:focus, input:focus{
    outline: none;
}
.logo{
    width:295px;
    height: 90px;
    text-align: center;
}
.search-box{
    box-shadow: none;
    height: 40px;
    color: currentColor !important;
    border-radius: 99px;
    box-sizing: border-box;
    border: 1px solid rgb(208, 154, 117);
    padding: 0 .75em;
    max-width: 100%;
    width: 100%;
}
.cart{
    display: flex;
    margin:0;
    justify-content: space-between;
    list-style:none;
}
.cart a {
    font-size: 1.2em;
    font-weight: bold !important;
}
input.nosubmit {
    padding: 9px 4px 9px 40px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z' fill='%23d09a75' stroke='%23d09a75' stroke-width='0.2'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}

.header-nav{
    text-decoration: none;
    color: black;
    transition: 0.3s;
}
.header-nav:hover{
    color: #d09a75;
}
.nav li:first-child {
    margin-left: 0 !important;
}
.nav-spacing-xlarge>li {
    margin: 0 13px;
}
.nav>li {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    margin: 0 13px;
    transition: background-color .3s;
}
.wide-nav {
    background-color: white;
    display: flex;
    min-height: 60px;
    text-align: center;
    text-transform: uppercase;
}
.wide-nav a{
    letter-spacing: .02em;
    font-family: Vollhorn;
    text-decoration: none;
}
.dropdown {
    font-family: Robotto;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #d09a75;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding:0;
    list-style:none;
    margin-left: -20px;
    border-radius: 5px;
    font-size: 95%;
    line-height: 1.3;
}

.dropdown-content a {
    font-family: Roboto;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-transform: none;
}
.dropdown-menu-item{
    text-align: left;
    display:table-cell;
    white-space: nowrap;
}
.dropdown-content a:hover {
    background-color: rgba(0,0,0,0.03);
}

.dropdown:hover .dropdown-content {
    display: table;
}
.dropdown-header{
    text-transform: uppercase;
    font-size: .8em;
    font-weight: bolder;
    color: #000;
}
.button-about {
    background-color: #d09a75;
    border: none;
    border-radius: 99px;
    color: white;
    padding: 5px 20px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: 0.3s;
}
.button-about:hover{
    background-color: #c48e6a;
}
.section-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
    padding: 0 20px;
}
.line {
    opacity: .1;
    flex-grow: 1;
    border-top: 2px solid #000;
    margin-left: 20px;
}
.line:first-child {
    margin-left: 0px;
    margin-right: 20px;
}
.section-heading > :not(.line) {
    display: flex;
    align-items: center;
}
.section-heading {
    white-space: nowrap;
}
.service-heading{
    font-size: 169%;
    font-family: "Playfair Display", "sans-serif";
    font-weight: 700;
}
.service-about{
    padding: 20px 20px 0px 20px !important;
    display: flex;
}
.service-about-heading{
    color: black;
    text-decoration: none;
    font-size: 0.65em;
    font-family: 'Playfair Display';
}
.product-item{
    margin: 20px 0
}
.product-item .service-about-heading:hover{
    color: #d09a75 !important;
}
.inner-item{
    border: 1px solid white;
    border-bottom: 4px solid white;
    box-shadow: 0px 0px 17px rgba(0,0,0,0.14);
    padding: 15px;
    border-radius: 7px;
}
.product-item h4{
    font-size: 19px;
    font-weight: normal;
    color: #ff8787;
}

footer{
    background: url(/G5_SMARTBEAUTY/img/bg-ft.jpg);
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: center center;
    padding-top: 60px;
    padding-bottom: 60px;
}
.support-about a{
    text-decoration: none;
    color: #d09a75;
    &:hover{
        color: black;
    }
}